@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');


:root{
    --primary1: hsl(26, 100%, 55%);
    --primary2:hsl(25, 100%, 94%);
    --neutral1: hsl(220, 13%, 13%);
    --neutral2:hsl(219, 9%, 45%);
    --neutral3: hsl(220, 14%, 75%);
    --neutral4: hsl(223, 64%, 98%);
    --neutral5: hsl(0, 0%, 100%);
    --neutral6:hsl(0, 0%, 0%);
    --family:'Kumbh Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: var(--family);
}

div.cover1 > img{
    max-width: 500px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    text-align: center;
}

div.nextpage > img{
    object-fit: contain;
    object-position: center;
}

div.navbar > ul > li{
    list-style-type:none;
}

div.navbar > ul > li a{
    color: var(--neutral2);
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s;
}
div.navbar > ul > li a:hover{
    font-size: 20px;
}


div.profile > img{
    height: 40px;
}

div.cover2{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--neutral4);
    padding: 9px 0px;
}

.fs-6{
    margin-top: 7px;
    background-color: #fadcc1;
    width: 35px;
    padding: 2px;
    height: fit-content;
    border-radius: 5px;
}
div.submit{
    background-color: #ff8800;
    height: 35px;
    width: 200px;
    border-radius: 7px;
}
div.submit:hover{
    color: #ff8800;
    background-color: var(--neutral4);
}

div.submit > img{
    height: 20px;
    width: 20px;
}
.cover2{
    align-items: center;
    height: 40px !important;
}
.text{
    color: #ff8800;
}
img.rounded:hover{
    background-color: aliceblue;
    background-blend-mode: multiply;
    border: 2px solid orange;
} 
div.image > *{
    height: 90px;
    width: 90px;
    border-radius: 10px !important;
}

div.offcanvas-body > li{
    list-style-type: none;
    width: 100%;
}

nav a{
    margin-top: 20px;
    color: white;
}




div.offcanvas{
    backdrop-filter: blur(25px);
    background-color:transparent;
}
